extends layout

block content
  head
    script(src=scripts[0])
    script(src=scripts[1])
  body
    .main-header
      h1 Puzzle Blocks
      p Please note that this is Puzzle Blocks and totally not Tetris, which is owned by The Tetris Company.
    .main-body
      .canvas-container
        canvas#canvas.canvas(width='440', height='440')
      script(src=scripts[2])
