extends layout

block content
  head
    script(src=scripts[0])
    script(src=scripts[1])
  body
    .main-header
      h1 Contact
      p Email: laynekoftinowmikan@cmail.carleton.ca / laynemikan@gmail.com
      p Phone: 647-881-7789
   
