extends layout

block content
  head
    script(src=scripts[0])
    script(src=scripts[1])
  body
    .main-header(style='min-height: 325px;')
      .index-header
        h1 Welcome / Bienvenue
        img(src="/images/me_closeup.jpg")
      p Hi, I'm Layne.
      p I'm a fourth-year Carleton student enrolled in the Honour's Computer Science program, specializing in Software Engineering.
      p.
        I have a keen interest in software development on all levels of the software stack and am looking to start my career as a full-stack
        developer when I graduate in May, 2020.
      p Take a look around and be sure to check out my GitHub as well!
    .main-body
      .full-card
        .card-header
          i.fas.fa-laptop
          | About this website...
        .card-body
          p.
            Developed using the Express framework for Node.
            The main section was designed using HTML, CSS, and Javascript + jQuery with some utilization of the Jade templating engine. 
            Bootstrap is used in the DBMS section.
          p Features include:
          ul
            li Renditions of classic arcade games written in Javascript/ES6
            li A MySQL database management system with a Bootstrap front-end
            li Interactive visualizations of various algorithms
            li Querying tools via RESTful APIs
            li Client-server communication via GET/POST requests and sockets
            li A customizable, mobile-friendly design
      .full-card
        .card-header
          i.fas.fa-bug
          | Known issues:
        .card-body
          ul
            li Canvas input location does not scale with browser resize (much better now but still not perfect)            
            li Sidenav container fixed so still appears if scroll right (though this should never actually happen)
