extends layout

block content
  head
    script(src=scripts[0])
    script(src=scripts[1])
  body
    .main-header(style='min-height: 290px;')
      h1 Welcome / Bienvenue
      img(src="/images/me.jpg" alt="me" style="float:left; border-radius: 50%; margin-right:15px; margin-bottom: 15px;")
      p Hi, I'm Layne.
      p I'm a third-year Carleton student enrolled in the Honour's Computer Science program in the Software Engineering stream. I'll put some more information here.
      p I'm also minoring in history because history is cool.
    .main-body
      .full-card
        .card-header
          i.fas.fa-laptop
          | About this website...
        .card-body
          p Developed using the Express framework for Node. The main section was designed using HTML, CSS, and Javascript + jQuery with some Jade. Bootstrap is used in other sections.
          p Features include:
          ul
            li Various games and other programs written in Javascript
            li Routing using Express, including error pages
            li Using APIs to help create basic web applications
            li Server-client communication using GET and POST requests, as well as sockets
            li Server-side file I/O (see 'Snake')
            li Cookies (see 'Change Theme')
            li A MySQL database (see the Bootstrap DBMS)
            li Mobile-friendly formatting and pretty colours
      .half-card
        .card-header
            i.far.fa-lightbulb
            | Upcoming features:
        .card-body
          ul 
            li React - Travel app (travel, weather APIs)
            li Who knows what else the future may hold
      .half-card
        .card-header
            i.fas.fa-bug
            | Known issues:
        .card-body
          ul
            li Canvas input location does not scale with browser resize (much better now but still not exact)
            li Sidenav text slightly misaligned
            li Mobile sidenav down-arrows wrap to next line when sliding (removed for now)
            li Sidenav container fixed so still appears if scroll right
            li LinkedIn link does not work as I don't have one yet
            li Still need someone to take a professional-looking photo of me
