extends layout

block content
  head
    script(src=scripts[0])
    script(src=scripts[1])
  body
    .main-header(style='min-height: 325px;')
      .index-header
        h1 Welcome / Bienvenue
        img(src="/images/me_closeup.jpg")
      p Hi, I'm Layne.
      p I'm a third-year Carleton student enrolled in the Honour's Computer Science program in the Software Engineering stream. I'll put some more information here.
      p I'm also minoring in history because history is cool.
    .main-body
      .full-card
        .card-header
          i.fas.fa-laptop
          | About this website...
        .card-body
          p Developed using the Express framework for Node. The main section was designed using HTML, CSS, and Javascript + jQuery with some Jade. Bootstrap is used in other sections.
          p Features include:
          ul
            li Various games and other programs written in Javascript
            li Routing using Express, including error pages
            li Using APIs to help create basic web applications
            li Server-client communication using GET and POST requests, as well as sockets
            li Server-side file I/O (see 'Snake')
            li Cookies (see 'Change Theme')
            li A MySQL database (see the Bootstrap DBMS)
            li Mobile-friendly formatting and pretty colours
          p Upcoming features:
            li React - travel app (single-page app with travel, weather APIs) - still in the "learning React" phase of development but it'll be great, believe me
            li Who knows what else the future may hold
      .full-card
        .card-header
          i.fas.fa-bug
          | Known issues:
        .card-body
          ul
            li Sidenav text slightly misaligned
            li Canvas input location does not scale with browser resize (much better now but still not exact)            
            li Mobile sidenav down-arrows wrap to next line when sliding (removed for now)
            li Sidenav container fixed so still appears if scroll right (though this should never actually happen)
            li LinkedIn link does not work as I don't have one yet
