<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.js"></script>
    <title>Zoo DBMS</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">
        <a href="/dbms" style="color:white; text-decoration:none;">Zoo Database Management System</a>
      </span>
      <div style="float:right;">
        <a href="/" style="color:white; text-decoration:none; ">Return to Main Website</a>
      </div>
    </nav>

    <ul class="nav nav-tabs bg-light">
      <li class="nav-item">
        <a class="nav-link" href="/dbms">
          <span class="fas fa-tachometer-alt"></span> &nbsp; Dashboard
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="fas fa-search"></span> &nbsp; Query
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/dbms/query-animal">
            <span class="fa fa-dove"></span> &nbsp; Animals
          </a>
          <a class="dropdown-item" href="/dbms/query-employee">
            <span class="fa fa-user-alt"></span>  &nbsp; Employees
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="fas fa-plus-circle"></span> &nbsp; Add
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/dbms/add-animal">
            <span class="fa fa-dove"></span> &nbsp; Animals
          </a>
          <a class="dropdown-item" href="/dbms/add-employee">
            <span class="fa fa-user-alt"></span>  &nbsp; Employees
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="fas fa-minus-circle"></span> &nbsp; Remove
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/dbms/remove-animal">
            <span class="fa fa-dove"></span> &nbsp; Animals
          </a>
          <a class="dropdown-item" href="/dbms/remove-employee">
            <span class="fa fa-user-alt"></span>  &nbsp; Employees
          </a>
        </div>
      </li>
    </ul>
    <div class="container" style="padding-top: 30px; padding-bottom: 60px;">
